@using ECommerceLabb.Services
@using ECommerceLabb.Models;
@page "/"
@inject ProductService ProductService

<PageTitle>Home</PageTitle>

<style>
    .home-background {
        background-image: url("bootstrap/ecommerce.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
</style>

<div class="home-background">

</div>



