@rendermode InteractiveServer

@using ECommerceLabb.Services
@using ECommerceLabb.Models;
@using Microsoft.AspNetCore.Components.Server;
@using System.Text.Json

@page "/searchcustomers"

@inject CustomerService CustomerService
@inject CustomerStateService CustomerState
@inject NavigationManager NavManager

<PageTitle>Search Customers</PageTitle>
<h3 class="mb-3">Search for available customers!</h3>
<hr />

@if (isConflict)
{
	<div class="alert alert-danger" role="alert">
		<b>Search failed:</b> A customer with that email does not exist: <b>@customer!.Email</b>
	</div>
}

@if (isSubmitted)
{
	<div class="alert alert-success" role="alert">
		Search successful! - <b>@customer!.Email</b>
	</div>

	<div class="card shadow-sm border-1 mt-3" style="max-width: 400px;">
		<div class="card-body">
			<h5 class="card-title">@customer!.FirstName @customer!.LastName</h5>
			<h6 class="card-subtitle text-muted">@customer!.Email</h6>
			<br />

			<p class="card-text">
				<i class="fas fa-home me-2"></i>@customer.Address <br />
				<i class="fas fa-phone-alt me-2"></i>@customer.PhoneNumber
			</p>
		</div>
	</div>
}
else
{
	<EditForm Model="customer" OnValidSubmit="HandleSubmit" FormName="CustomerSearchForm" Enhance>
		<DataAnnotationsValidator />
		<ValidationSummary />

		<div>
			<label>Search by email:</label>
			<InputText @bind-Value="customer!.Email" />
		</div>

		<br />
		<button type="submit">Search </button>
	</EditForm>
}

@code {
	[SupplyParameterFromForm]
	public Customer? customer { get; set; } = new();

	public bool isSubmitted = false;
	public bool isConflict = false;
	public string searchValue = string.Empty;

	public async Task HandleSubmit()
	{
		searchValue = customer!.Email!;
		try
		{
			var customerResult = await CustomerService.GetcustomerByEmailAsync(customer!.Email!);
			if (customerResult != null)
			{
				customer = customerResult;
				isSubmitted = true;
			}
			else
			{
				isConflict = true;
			}

		}
		catch (Exception ex)
		{
			Console.WriteLine($"Unexpected error: {ex.Message}");
			isConflict = true;
			isSubmitted = false;
		}
	}
}
