@rendermode InteractiveServer

@using ECommerceLabb.Services
@using ECommerceLabb.Models
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Forms

@page "/updateproducts"

@inject CustomerService CustomerService
@inject ProductService ProductService
@inject ProductStateService ProductState

<PageTitle>Update Product</PageTitle>
<h3>Update your products here!</h3>

@if (ProductState.SelectedProduct == null)
{
	<p>No product selected!</p>
}
else
{
	<p> Selected Product: @ProductState.SelectedProduct.Name</p>

	<label for="product"> Select Product: </label>
	<select @bind="selectedProductId">
		@foreach (var product in products!)
		{
			<option value="@product.Id"> @product.Name </option>
		}
	</select>

	<br />

	<label>Name:</label>
	<input @bind="ProductState.SelectedProduct.Name" />

	<br />

	<label>Available:</label>
	<input type="checkbox" @bind="ProductState.SelectedProduct.Status"/>

	<br />

	<button @onclick="SaveChanges"> Save </button>
}

@code {
	private List<Product>? products;
	private string? selectedProductId;

	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine("Looking for available products..");
		products = await ProductService.GetproductsAsync() ?? new List<Product>();
		Console.WriteLine($"Result after looking for products: {products}");

	}

	private async Task SaveChanges()
	{
		if (ProductState.SelectedProduct != null)
		{
			await ProductService.UpdateProductAsync(ProductState.SelectedProduct.Id!, ProductState.SelectedProduct);
		}
	}
}
